<ion-header [translucent]="true">
  <!--<ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Regresar" defaultHref="/" ></ion-back-button>
    </ion-buttons>
    <ion-title text-capitalize>{{titulo}}</ion-title>
  </ion-toolbar>-->
  <ion-toolbar>
    <ion-buttons slot="start" (click)="toogleMenu()">
      <ion-icon slot="icon-only" name="menu"></ion-icon>
      
    </ion-buttons>
    <ion-title text-capitalize>{{titulo}}</ion-title>
  </ion-toolbar>
</ion-header>
