.avatar {
    width:128px;
    height:128px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    object-fit: cover;
  }

  ion-avatar{
    display: flex;
    justify-content: center;
}
.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}