<!--<ion-header>
  <ion-toolbar>
    <ion-title>profile</ion-title>
  </ion-toolbar>
</ion-header>-->

<app-header collapse="condense" titulo="Profile"></app-header>

<ion-content> 
  <ion-grid>
  <br/>
  <br/>
    <ion-row>
      <ion-col size="4" offset="4">
        <ion-avatar class="avatar">
          <img src={{user.avatar}} class="ion-text-center" alt="">
        </ion-avatar>
      </ion-col>
    </ion-row>
    <br/>
    <ion-row class="ion-align-items-center">
      <ion-col size="4">
        <ion-label >Nombre</ion-label>
      </ion-col>
      <ion-col  size="8">
        <ion-label >{{user.name}}</ion-label>
      </ion-col>
    </ion-row>

    <ion-row class="ion-align-items-center">
      <ion-col size="4">
        <ion-label >Apellidos</ion-label>
      </ion-col>
      <ion-col  size="8">
        <ion-label>{{user.lastName}}</ion-label>
      </ion-col>
    </ion-row>

    <ion-row class="ion-align-items-center">
      <ion-col size="4">
        <ion-label >Correo</ion-label>
      </ion-col>
      <ion-col  size="8">
        <ion-label >{{user.mail}}</ion-label>
      </ion-col>
    </ion-row>

    <ion-row class="ion-align-items-center">
      <ion-col size="4">
        <ion-label >Cumpleaños</ion-label>
      </ion-col>
      <ion-col  size="8">
        <ion-label >{{user.birthDay}}</ion-label>
      </ion-col>
    </ion-row>
</ion-grid>




</ion-content>
