<!--<ion-header>
  <ion-toolbar>
    <ion-title>main</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>-->

  <!--  the side menu  -->
  <app-menu></app-menu>


  <!-- the main content -->
  <ion-router-outlet id="mainApp"></ion-router-outlet>
