<ion-menu side="start" menuId="menuHome" contentId="mainApp">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Start Menu dash</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-menu-toggle *ngFor="let menu of menuOptions | async">
        <ion-item [routerLink]="menu.redirectTo">
          <ion-icon slot="start" [name]="menu.icon"></ion-icon>
          <ion-label>{{menu.name}}</ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>